<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tarasmorskyi.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="com.tarasmorskyi.myapplication.App"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"/>
</manifest>
